/*
  * "GinghamCheck.Css" -Version 1.0.0-beta.2~- Css.
  * Variables scss file.
  * The MIT License.
  * Copyright hana.
  * https://github.com/hana-mignon.
*/    

$bg-color: transparent;
$bg-img-color-width: hotpink;
$bg-img-color-height: lightpink;
$bg-bottom-percent: 8%;
$bg-right-percent: 8%;
$bg-size: 5px;
$bg-element: transparent;
$amount: 50%;
